<style>
    .header-img {
        width: 100%;
        height: 60vh;
        background-image: url(/img/IMG_20161111_223655.jpg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-img.img-2{
        background-image: url(/img/soccerbot_close.jpg)
    }
</style>

<div class="header-img"></div>
<div class="container text-muted">
    <br>
    <hr>
    <h1 class="text-danger">Welcome to RedRobotics</h1>
    <h2 class="text-black">SoccerBots</h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>
                The Red Robotics SoccerBots are here. Raspberry Pi powered, these remote control robots provide hours of football fun. Collect the soccer ball and fire it into the back of your opponents goal. Don’t get bumped or the bot will drop ball.
            </p>
            <p>
                Available as  a kit to make yourself at school or home. Laser cut perspex these rigid bots withstand a good pounding. Powered by a Raspberry Pi with motor control distributed by our own H-Bridge shield.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src="/img/IMG_20161101_214408-500x384.jpg">
        </div>
        <div class="col-md-4">
            <ul>
                <li>H – Bridge Shield</li>
                <li>Remote control with Game Style controllers</li>
                <li>Turbo Mode</li>
                <li>Build it yourself</li>
                <li>Compatible with Pi 0, 1, 2 and 3</li>
                <li>Upgrades available</li>
            </ul>
        </div>
    </div>
    <br>
    <hr>
    <h1 class="text-center">Features</h1>
    <br>
    <div class="header-img img-2"></div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h3>Power control</h3>
            <ul>
                <li>One button for on, off and reset</li>
                <li>Proper shutdown procedure</li>
                <li>Start up battery check</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Arduino on Board</h3>
            <ul>
                <li>Run Arduino programs</li>
                <li>I2C and SPI communication</li>
                <li>Fully programmable from the RPi</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>H-bridge</h3>
            <ul>
                <li>1A continuous, 2A peak current</li>
                <li>Variable speed control of two dc motors</li>
                <li>Uses four RPi GPIO pins</li>
            </ul>
        </div>
    </div>
    <br>
    <hr>
    <h1 class="text-center">Controls</h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-unstyled"> 
                <li>
                    <strong>Home</strong> 
                    – Pair controller with robot
                </li>
                <li>
                    <strong>Left analogue stick</strong>
                     – Forwards and Backwards
                </li>
                <li>
                    <strong>L1</strong>
                     – Reset grabber
                </li>
                <li>
                    <strong>L2</strong>
                     – Turbo boost
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img src="/img/PSthumbnail.jpg" class="img-fluid">
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li>
                    <strong>Right analogue stick</strong>
                    – left/right proportional steering
                </li>
                <li>
                    <strong>R1</strong>
                    – Hold/shoot
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>
<div class="bg-danger text-white">
    <br>
    <div class="container">
        <h1>About Us</h1>
        <p>
            We are a small independent technology firm, offering innovative,
            unique products for the raspberry pi platform. Our technology
            is open source and patent free
        </p>
        <br>
    </div>
</div>

